<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarcliente</servlet-name>
        <servlet-class>Clases.guardarcliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enombrecli</servlet-name>
        <servlet-class>Clases.enombrecli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>epepacli</servlet-name>
        <servlet-class>Clases.epepacli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Clases.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarpro</servlet-name>
        <servlet-class>Clases.guardarpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarcuerpo</servlet-name>
        <servlet-class>Clases.guardarcuerpo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>intermedio</servlet-name>
        <servlet-class>Clases.intermedio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarconexion</servlet-name>
        <servlet-class>Clases.guardarconexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarmicro</servlet-name>
        <servlet-class>Clases.guardarmicro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarcontro</servlet-name>
        <servlet-class>Clases.guardarcontro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCuerpo</servlet-name>
        <servlet-class>Clases.EliminarCuerpo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarConec</servlet-name>
        <servlet-class>Clases.EliminarConec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMicro</servlet-name>
        <servlet-class>Clases.EliminarMicro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarContro</servlet-name>
        <servlet-class>Clases.EliminarContro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarCliente</servlet-name>
        <servlet-class>Clases.VerificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SQuitarstock</servlet-name>
        <servlet-class>Clases.SQuitarstock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Squitarstockmicro</servlet-name>
        <servlet-class>Clases.Squitarstockmicro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Clases.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estadistica</servlet-name>
        <servlet-class>Clases.estadistica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Squitarstockconec</servlet-name>
        <servlet-class>Clases.Squitarstockconec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Squitarstockcontro</servlet-name>
        <servlet-class>Clases.Squitarstockcontro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrito</servlet-name>
        <servlet-class>carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPCarrito</servlet-name>
        <servlet-class>Clases.EliminarPCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminardelcarro</servlet-name>
        <servlet-class>Clases.Eliminardelcarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>realizarcompra</servlet-name>
        <servlet-class>Clases.realizarcompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarcliente</servlet-name>
        <url-pattern>/guardarcliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enombrecli</servlet-name>
        <url-pattern>/enombrecli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>epepacli</servlet-name>
        <url-pattern>/epepacli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarpro</servlet-name>
        <url-pattern>/guardarpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarcuerpo</servlet-name>
        <url-pattern>/guardarcuerpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>intermedio</servlet-name>
        <url-pattern>/intermedio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarconexion</servlet-name>
        <url-pattern>/guardarconexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarmicro</servlet-name>
        <url-pattern>/guardarmicro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarcontro</servlet-name>
        <url-pattern>/guardarcontro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCuerpo</servlet-name>
        <url-pattern>/EliminarCuerpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarConec</servlet-name>
        <url-pattern>/EliminarConec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMicro</servlet-name>
        <url-pattern>/EliminarMicro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarContro</servlet-name>
        <url-pattern>/EliminarContro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarCliente</servlet-name>
        <url-pattern>/VerificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SQuitarstock</servlet-name>
        <url-pattern>/SQuitarstock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Squitarstockmicro</servlet-name>
        <url-pattern>/Squitarstockmicro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estadistica</servlet-name>
        <url-pattern>/estadistica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Squitarstockconec</servlet-name>
        <url-pattern>/Squitarstockconec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Squitarstockcontro</servlet-name>
        <url-pattern>/Squitarstockcontro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrito</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPCarrito</servlet-name>
        <url-pattern>/EliminarPCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminardelcarro</servlet-name>
        <url-pattern>/Eliminardelcarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>realizarcompra</servlet-name>
        <url-pattern>/realizarcompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
